fastapi[standard]
uvicorn[standard]
motor         # Driver asíncrono para MongoDB, recomendado para FastAPI
pydantic[email]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pytest
pytest-asyncio
anyio
pytest-asyncio
pytest-tornasync
pytest-trio
pytest-twisted